body{
  font-family: 'Bree Serif', serif;
  background-color:#90a4ae;
}
.li{
  margin-top:22px;
  margin-right:40px;
  font-size:18px;
}
.bag{
  background-color:#62757f
}
.brand{
  font-size:24px 
}
.about{
  font-family:'philosopher',sans-serif;
  background-color:#c1d5e0;
  font-size:30px;
  padding:50px;
  padding-top:100px;
}
